<div class="container">

    <h1>SIGN UP</h1>

    <form>

        <div class="row">
            <div class="col-25">
                <label for="fullname">Fullname: </label>
            </div>
            <div class="col-75">
                <input type="text" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="nationalid">National ID: </label>
            </div>
            <div class="col-75">
                <input type="number" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="email">Email: </label>
            </div>
            <div class="col-75">
                <input type="text" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="password">Password: </label>
            </div>
            <div class="col-75">
                <input type="password" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="phonenumber">Phone Number: </label>
            </div>
            <div class="col-75">
                <input type="number" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="dob">Date of Birth: </label>
            </div>
            <div class="col-75">
                <input type="date" />
            </div>
        </div>

        <div class="row">
            <a type="submit" class="btn btn-success" routerLink="/home">Submit</a>
        </div>

    </form>
</div>