<div class="container">

    <h1>Login to your account</h1>

    <form>

        <div class="row">
            <div class="col-25">
                <label for="email">Email: </label>
            </div>
            <div class="col-75">
                <input type="text" placeholder="Email" />
            </div>
        </div>

        <div class="row">
            <div class="col-25">
                <label for="password">Password: </label>
            </div>
            <div class="col-75">
                <input type="password" placeholder="Password" />
            </div>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-success">Submit</button>
        </div>

    </form>
</div>