.HomeContent {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.HomeContent h2,
.HomeContent h1 {
    text-align: center;
    color: #000000;
    font-family: 'consolas';
    font-weight: bold;
}