<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<head>
</head>

<body>

    <div class="header">
        <a class="active" routerLink="/">Home</a>
        <a routerLink="/registration">Register</a>
        <a routerLink="/login">Login</a>
        <a>About</a>
    </div>

    <!---------------------------------------------------------->

    <div class="content">
        <h1>HOME PAGE</h1>
        <h1>WELCOME {{name}} - {{title}}</h1>
    </div>

    <!---------------------------------------------------------->

    <div class="footer">
        <h2>Wattheq Application 2020</h2>
    </div>

</body>

</html>

<router-outlet></router-outlet>